@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.card{
  /* border-radius: 20px;
  overflow: hidden; */
}

.cards{
  top: -50%;
}