@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0px;
  padding: 0px;
  min-width: 0;
  max-width: 1300px;
  box-sizing: border-box;
}
body{
  width: 100vw;
  overflow-x: hidden;
}
html{
  width: 100vw;
}
.cards{
  top: -50%;
  
}

.imgcard{
  position: sticky;
}

.txt{
  position: relative;
}

.bg-ease{
  transition: 0.5s ease;
}


.bg-anime{
  background-size: cover;
  background-position: center center;
  background-image: url("https://c.tenor.com/ldOfR4BrgwAAAAAd/tenor.gif");
}

.d3{

  background-color: blue;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}